.btn-container {
    height: 100px;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    margin: 40px auto;
}

button {
    width: 200px;
    height: 50px;
    background: #098a9a;
    border: 0;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.output {
    height: 60px;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    color: #098a9a;
}