.container {
    padding: 50px;
}

button {
    width: 250px;
    margin: 20px;
    box-shadow: 10px 10px 10px grey;
    font-size: 20px;
}

.col-md-4 {
    border-right: 2px solid #f1f1f1 ;
}

.col-md-4, .col-md-8 {
    padding: 30px;
}

p {
    float: left;
    margin-left: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.highlight {
    color: red;
    background-color: #d4d4d4;
}

.active-btn {
    background-color: #234560;
}

.message {
    color: green;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 40px;
}