* {
  font-size: 24px;
}

.initials {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid blueviolet;
  background-color: rgb(238, 225, 250);
  color: rgb(141, 32, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
