<div class="login-container">
  <img class="film" src="assets/images/film.png" alt="" />
  <div class="logo">Rotten Potatoes</div>
  <div class="desc">
    Rotten Potatoes is the world’s most trusted recommendation resources for
    quality entertainment. As the leading online aggregator of movie and TV show
    reviews from critics, we provide fans with a comprehensive guide to what’s
    Fresh – and what’s Rotten – in theaters and at home. If you’re an
    entertainment fan looking for a recommendation, or to share an opinion,
    you’ve come to the right place.
  </div>
  <div class="login-form">
    <div class="form-group">
      <label for="uname">Username</label>
      <input
        type="text"
        name="uname"
        class="form-control"
        [(ngModel)]="username"
      />
    </div>
    <div class="form-group">
      <label for="pword">Password</label>
      <input
        type="password"
        name="pword"
        class="form-control"
        [(ngModel)]="password"
      />
    </div>
    <div class="btn-container">
      <div class="error">{{ errorMsg }}</div>
      <button class="btn btn-dark" (click)="login()">Login</button>
    </div>
  </div>
</div>
