/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f3ccfa;
    height: 95vh;
  }
  
  .form-container {
      width: 500px;
      margin: 50px auto;
  }
  
  .heading {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 40px;
    color: darkviolet;
  }
  
  .form-group {
    margin: 30px 0px;
  }
  
  .d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 15px;
  }
  