<div class="first-container">
  <h1>First Component</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <select class="form-control" name="shape" [(ngModel)]="shape">
          <option value="">Select Shape</option>
          <option value="square">Square</option>
          <option value="rectangle">Rectangle</option>
          <option value="circle">Circle</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <select class="form-control" name="color" [(ngModel)]="color">
          <option value="">Select Color</option>
          <option value="red">Red</option>
          <option value="green">Green</option>
          <option value="blue">Blue</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <button
        class="btn btn-primary"
        (click)="drawShape()"
        [disabled]="shape.length === 0 || color.length === 0"
      >
        Draw
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="output">
        <div class="shape {{shapeClass}}"></div>
      </div>
    </div>
  </div>
</div>
