<div class="container">
  <div class="heading">Reactive Approach</div>
  <div class="form-container">
    <form>
      <div class="form-group">
        <label for="uname">Username</label>
        <input type="text" class="form-control" id="uname" />
      </div>

      <div class="form-group">
        <label for="emailAddress">Email address</label>
        <input type="email" class="form-control" id="emailAddress" />
      </div>

      <div class="d-flex">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="readTerms" />
          <label class="form-check-label" for="readTerms"
            >I have read terms and conditions</label
          >
        </div>

        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
